[Unit]
Description=Personal web server
After=network.target

[Service]
Type=simple
TimeoutStartSec=5m
ExecStart=/usr/bin/podman run -v /var/www:/var/www -p 80:8080 website

ExecReload=-/usr/bin/podman stop website
ExecStop=-/usr/bin/podman stop website
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
