/* ----------------------------- Fonts ----------------------------- */

@font-face {
    font-family: 'Noto';
    src: url(../fonts/NotoSerif-Regular.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(../fonts/SourceSerifPro-Regular.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url(../fonts/Montserrat-Black.ttf) format('truetype');
    font-display: swap;
}

/* ----------------------------- Page ------------------------------ */

html {
    font-family: 'Source Serif Pro';
    background-color: #fafaf0;
    font-kerning: normal;
    text-rendering: optimizelegibility;
    font-size: 1rem;
    color: #555;
}

body {
    width: 700px;
    margin: 0 auto;
    padding: 30px 1em;
    display: block;
}

p {
    /* text-align: justify; */
    margin: 1.5rem 0;
    line-height: 1.7;
}

ul {
    margin: 2em 0;
    padding: 0 1.5em;
}

li {
    list-style-type: disc;
    line-height: 1.7;
}

blockquote {
    color: #999;
    margin: 1.5em 0;
    padding-left: 1em;
    border-left: 5px solid #ddd;
    line-height: 1.7;
}

a {
    color: #4f7951;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: DarkRed;
    text-decoration: underline;
    cursor: pointer;
}

/* --------------------------- Headers ----------------------------- */

h1 {
    font-family: 'Montserrat Black';
    margin-bottom: 0rem;
    margin-top: 1.5rem;
    font-size: 1.5em;
}

h2 {
    font-family: 'Montserrat';
    margin-bottom: 0rem;
    margin-top: 1.5em;
    font-size: 1.25em;
}

/* ------------------------- Navigation ---------------------------- */

#title {
    font-size: 1.25em;
    font-family: 'Montserrat';
}

#navbar {
    font-size: 1rem;
    margin: 0.5rem 0;
    margin-bottom: 4rem;
}

#navbar .current {
    margin-right: 10px;
    color: #222;
    border-bottom: 2px solid #000;
}

#navbar a {
    margin-right: 10px;
    color: #aaa;
}

#navbar a:hover {
    color: #222;
    text-decoration: none;
    border-bottom: 2px solid #000;
}

#copyright {
    font-size: 0.75rem;
    font-family: 'Montserrat';
    padding-top: 1.5em;
    color: #bbb;
    text-align: center;
}

/*----------------------- Articles --------------------------*/

.date {
    font-size: 0.75rem;
    font-family: 'Montserrat';
    color: #bbb;
}

li .date {
    padding-left: 0.5rem;
}

img {
    width: 100%;
    display: block;
    margin: 1.5em auto;
    object-fit: contain;
}

img.border {
    background-color: #a2b1a2;
    border: 1px solid #a2b1a2;
}

.img-subheading {
    margin: -1em 0em 1.5em 0em;
    color: #666;
    text-align: center;
    font-size: 0.9rem;
}

.quote {
    font-family: 'Noto';
    font-style: italic;
    color: #666;
    text-align: center;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}

.quoter {
    font-size: 0.8rem;
    font-family: 'Noto';
    font-style: italic;
    color: #666;
    text-align: right;
    margin-bottom: 2rem;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

/*----------------------- Source Code --------------------------*/

kbd {
    padding: 0.2em 0.6em;
    border: 1px solid #a2b1a2;
    font-weight: 700;
    font-family: monospace;
    background-color: #c3d4c4;
    color: #333;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2), 0 0 0 1px #fff inset;
    border-radius: 3px;
    margin: 0em;
    line-height: 1.4;
    white-space: nowrap;
}

code {
    font-family: inherit;
    padding: 0em 0.3em;
    color: #4f7951;
    background-color: #f4f4ee;
    border-radius: 3px;
}

pre code {
    line-height: 1.7;
    border-radius: 0em;
    border: 1px solid #ddddd0;
    color: #333;
    display: block;
    padding: 1.25em 1.25em;

    overflow: auto;
}

pre comment {
    color: #aaa;
}

pre keyword {
    font-weight: 700;
}

pre string {
    color: #388E3C;
}

/*----------------------- Resume --------------------------*/

/* .resume-section { */
/*     padding-top: 1em; */
/*     padding-bottom: 1em; */
/* } */

.experience-container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
    grid-gap: 0.5em;
    padding: 1em 0em;
}

.experience-time {
    align-self: center;
    text-align: right;
    font-size: 0.8rem;
    color: #bbb;
    font-family: 'Montserrat';
    font-weight: 700;
}

.experience-bullets {
    grid-column-start: 2;
    text-align: left;
    padding: 0;
    margin: 0;
}

.experience-position {
    align-self: center;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 700;
}

.accomplishment {
    padding: 0em 2em 0em 2em;
    margin: 0;
    text-align: justify;
}

.accomplishment-bullets {
    padding: 1em 2em 1em 2em;
    margin: 0;
}

.accomplishment-headline {
    font-family: 'Montserrat';
    text-align: left;
    font-weight: 700;
    padding: 1em 0em;
}

.skills-table {
    padding: 1em 2em;
    border-spacing: 0.5em;
    font-size: 1rem;
}

.education-section {
    padding: 1em 0em;
}

.education-container {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: auto;
    grid-gap: 5px 10px;
    padding: 15px 0;
}

.edu-date {
    text-align: right;
    font-size: 0.8rem;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #bbb;
}

.degree {
    align-self: center;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 700;
}

.school {
    grid-column-start: 2;
    text-align: left;
    padding: 0;
    margin: 0;
}
